*{
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15%;
}
@media screen and (max-width: 475px){
.card{
    background-color: rgb(214, 243, 248);
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    margin-top: 2.5%;
    width: 95%;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-title{
    text-align: center;
    font-weight: bold;
}

.btn{
    height: 1.7rem;
    color: white;
    display: flex;
    align-items: center;
}
.btn:hover{
    color:black;
    background-color: rgb(0, 166, 255);
}
}