<body>
<div class="card" style="width: 18rem;">
    <img src="https://t1.uc.ltmcdn.com/es/posts/4/8/6/que_es_el_taekwondo_52684_600.webp" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Cto. sub21 taekwondo</h5>
      <p class="card-text">15 Diciembre<br>Campeonato de clasificación para el campeonato de España de taekwondo en Antequera.</p>
      <button class="btn btn-dark">Unirse</button>
    </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://imagenes.heraldo.es/files/image_990_v3/uploads/imagenes/2021/09/02/la-nueva-apariencia-del-parque-san-martin-de-huesca.jpeg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Partido Basket Jerez</h5>
    <p class="card-text">22 Mayo<br>Se organiza partido de baloncesto en el polideportivo Angora de Jerez.</p>
    <button class="btn btn-dark">Unirse</button>
  </div>
</div>
</body>