<body>
<div class="card" style="width: 18rem;">
    <img src="https://t1.uc.ltmcdn.com/es/posts/4/8/6/que_es_el_taekwondo_52684_600.webp" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Cto. sub21 taekwondo</h5>
      <p class="card-text">15 Diciembre</p>
      <p class="card-text">Campeonato de clasificación para el campeonato de España de taekwondo en Antequera.</p>
      <a class="btn btn-primary">Unirse</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://t1.uc.ltmcdn.com/es/posts/4/8/6/que_es_el_taekwondo_52684_600.webp" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Cto. sub21 taekwondo</h5>
    <p class="card-text">15 Diciembre</p>
    <p class="card-text">Campeonato de clasificación para el campeonato de España de taekwondo en Antequera.</p>
    <a class="btn btn-primary">Unirse</a>
  </div>
</div>
</body>