<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <form [formGroup]="deporteForm">

      <div class="contenedor">

            <div class="titulo">
                  <h3>Elige tus Deportes</h3>
            </div>

            <div class="formulario">

                        <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="futbol" id="futbol" formControlName="futbol">
                              <label class="form-check-label" for="futbol">Fútbol</label>
                        </div>

                        <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="baloncesto" id="baloncesto" formControlName="baloncesto">
                              <label class="form-check-label" for="baloncesto">Baloncesto</label>
                        </div>

                        <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="volley" id="volley" formControlName="volley">
                              <label class="form-check-label" for="volley">Volley</label>
                        </div>

                        <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="patinaje" id="patinaje" formControlName="patinaje">
                              <label class="form-check-label" for="patinaje">Patinaje</label>
                        </div>

                        <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="natacion" id="natacion" formControlName="natacion">
                              <label class="form-check-label" for="natacion">Natación</label>
                        </div>

                        <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="running" id="running" formControlName="running">
                              <label class="form-check-label" for="running">Running</label>
                        </div>

                        <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="ciclismo" id="ciclismo" formControlName="ciclismo">
                              <label class="form-check-label" for="ciclismo">Ciclismo</label>
                        </div>

            </div>

            <button type="button" class="btn btn-dark" (click)="obtenerValoresSeleccionados()"  [disabled]="deporteForm.invalid">Registrar</button>

      </div>
  </form>

</body>

</html>
