<main>

    <div class="fotoBoton">
         <section class="imagen"><img class="imgPerfil" src="./../../../assets/hasbulla.jpg"></section>
         <aside class="info">
               <div class="infoPerfil">
                        <div class="fotos-Subidas">
                            <p class="total">345</p>
                            <p class="nomb">Fotos</p>
                        </div>
                        <div class="fotos-Subidas">
                            <p class="total">345</p>
                            <p class="nomb">Eventos</p>
                        </div>
                        <div class="fotos-Subidas">
                            <p class="total">345</p>
                            <p class="nomb">Seguidos</p>
                        </div>

               </div>
               <button type="button" class="btn btn-dark" routerLink="editar-perfil">Editar Perfil</button>
         </aside>
    </div>

    <div class="datos">
        <h4 class="Nombre">Hasbulla</h4>
        <h5 class="Sport">Teakwondo, Baloncesto y Ciclismo</h5>
        <h5 class="description">Me encanta el baloncesto solia jugar de pequeño y vengo a enseñaros como se juega</h5>
    </div>

    <div class="eventSeguid">
        <button type="button" class="btn-event">Mis Eventos</button>
        <button type="button" class="btn-event">Seguidos</button>
    </div>
</main>
<app-card></app-card>

