<main>

    <div class="fotoBoton">
         <section class="imagen"><img class="imgPerfil" src="./../../../assets/hasbulla.jpg"></section>
         <aside class="info">
               <div class="infoPerfil">
                        <div class="fotos-Subidas">
                            <p class="total">345</p>
                            <p class="nomb">Fotos</p>
                        </div>
                        <div class="fotos-Subidas">
                            <p class="total">345</p>
                            <p class="nomb">Eventos</p>
                        </div>
                        <div class="fotos-Subidas">
                            <p class="total">345</p>
                            <p class="nomb">Seguidos</p>
                        </div>

               </div>
               <a routerLink="explore"> <p type="button" class="btn btn-dark">Editar Perfil</p></a>
         </aside>
    </div>

    <div class="datos">
        <h4 class="Nombre">Hasbulla</h4>
        <h5 class="Sport">Teakwondo, Baloncesto y Ciclismo</h5>
        <h5 class="description">Me encanta el baloncesto solia jugar de pequeño y vengo a enseñaros como se juega</h5>
    </div>

    <div class="eventSeguid">
        <button (click)="mostrarEvent()" type="button" class="btn-event">Mis Eventos</button>
        <button (click)="mostrarSeguido()" type="button" class="btn-event">Seguidos</button>
    </div>

    <div *ngIf="mostrarBtnMisEventos">
       
        <p>Mis Eventos</p>
    </div>
   
    <div *ngIf="mostrarMisSeguidos">
       
        <p>Eventos a los que sigo</p>
      </div>
    
    

    <ng-template #lista>
        <h1>NO HAY EVENTOS</h1>
    </ng-template>
    
    

</main>
<app-nav-bar></app-nav-bar>
