@media screen and (max-width: 475px){
    *{
        padding: 0;
        margin: 0;
    }

    main{
    
        height: 594.8px;
        width: 100%;
        font-family: sans-serif;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
    
    }
    .fotoBoton{
        
        height: 130px;
        width: 360px;
        margin-top: 15px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 7px;

    }
    .imagen{

        height: 110px;
        width: 110px;
        border-radius: 50%;
    
    }
    .imgPerfil{

        height: 110px;
        width: 110px;
        border-radius: 50%;
    
    }
    .info{

        height: 110px;
        width: 240px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;

    }
    .infoPerfil{

        width: 235px;
        height: 60px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 18px;

    }
    .fotos-Subidas{

        height: 50px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .total{

        height: 20px;
        font-size: 19px;
    }
    .nomb{

        font-size:19px;
        height: 20px;
    }
    .datos{

        height: 120px;
        width: 360px;
        padding-left: 5px;

        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 5%;

    }
    .Nombre{

        font-size: 25px;
        font-weight: bold;
    }
    .Sport{

        font-size: 16px;

    }
    .description{

        font-size: 16px;
    }
    .eventSeguid{

        height: 45px;
        width: 360px;


        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-bottom: 5%;

    }
    .btn-event{
        background-color: #6db3d1;
        color: white;
        width: 125px;
        height: 32px;
        border-radius: 15px;
        border: none;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-event:hover{

        background-color: black;
        color: white;
    }
    .card{

        height: 350px;
        width: 250px;
        margin-bottom: 5px;
        background-color: rgb(214, 243, 248);

        display: flex;
        flex-direction: column;
        gap: 5px;
    
    }
    .card-img{
        margin-top: 5px;
        margin-left: 4px;
        width: 240px;
        height: 150px;
    }
    .card-body{
        
        height: 50px;
        font-size: 15px;
        display: flex;
        flex-direction: column;
    
    }
    .card-title{
        text-align: center;
        font-weight: bold;
        font-size: 15px;
        margin-top: 5px;
    }
    .card-text{

        margin-top: 10px;
    }
    .btn{

        color: white;
        width: 117px;
        height: 30px;
        border-radius: 15px;
        font-size: 17px;
        border: none;

        display: flex;
        align-items: center;
        justify-content: center;
          
    }
    .btn:hover{

        background-color:#6db3d1;
        color: white;
    }

}