<main>

    <div class="fotoBoton">
         <section class="imagen"><img class="imgPerfil" src="./../../../assets/hasbulla.jpg"></section>
         <aside class="info">
               <div class="infoPerfil">
                        <div class="fotos-Subidas">
                            <p>345</p>
                            <p>Fotos</p>
                        </div>
                        <div class="fotos-Subidas">
                            <p>345</p>
                            <p>Eventos</p>
                        </div>
                        <div class="fotos-Subidas">
                            <p>345</p>
                            <p>Seguidos</p>
                        </div>

               </div>
               <a routerLink="explore"> <p type="button" class="btn btn-dark">Editar Perfil</p></a>
         </aside>
    </div>

    <div class="datos">
        <h4 class="Nombre">Hasbulla</h4>
        <h5 class="Sport">Teakwondo, Baloncesto y Ciclismo</h5>
        <h5 class="description">Me encanta el baloncesto solia jugar de pequeño y vengo a enseñaros como se juega</h5>
    </div>

    <div class="eventSeguid">
        <button type="button" class="btn-event">Mis Eventos</button>
        <button type="button" class="btn-event">Seguidos</button>
    </div>

    <div class="card">
        <img src="https://t1.uc.ltmcdn.com/es/posts/4/8/6/que_es_el_taekwondo_52684_600.webp" class="card-img">
        <div class="card-body">
          <h5 class="card-title">Cto. sub21 taekwondo</h5>
          <p class="card-text">15 Diciembre<br>Campeonato de clasificación para el campeonato de España de taekwondo en Antequera.</p>
        </div>
        
    </div>

</main>
<app-nav-bar></app-nav-bar>
