
<main>
            
            <div class="titulo">
                <h2>Editar Perfil</h2>
            </div>

            <div class="formulario">

                <div class="info">
                    <h6>Datos Personales</h6>
                </div>    
        
                <div class="form-check formul">
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre de Usuario" #nombre>

                    <input type="text" class="form-control" id="ciudad" placeholder="Provincia" #provincia>

                    <textarea type="text" class="form-control descripcion" id="descripcion" placeholder="Descripcion" #descripcion></textarea>

                    <textarea type="text" class="form-control foto" id="cambiarFoto" placeholder="Cambiar Foto" #foto></textarea>
                    
                </div>
            
            </div>

            <div class="boton">
                    <button type="submit" class="btn btn-dark" (click)="editarPerfil(nombre.value, provincia.value, descripcion.value, foto.value)">Aceptar</button>
                    <button type="submit" class="btn gris" (click)="cancelarPerfil()">Cancelar</button>
            </div>          
</main>
