<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="tamaño">
            <a href=""> <img src="./../../../assets/logocasa.jpg" alt=""></a>
        </div>
        <div class="tamaño">
            <a href=""> <img src="./../../../assets/lupa.png" alt=""></a>
        </div>
        <div class="tamaño">
            <a href=""> <img src="./../../../assets/subirdocumento.png" alt=""></a>
        </div>
        <div class="tamaño">
            <a href=""> <img src="./../../../assets/fotoperfil.jfif" alt=""></a>
        </div>
    </footer>
</body>
</html>
