
    
   


@media screen and (max-width: 450px){
    *{
        padding: 0;
        margin: 0;
    }
    
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10%;
        width: 360px;
        height: 720px;
    }
    img{
        width: 50%;
        border-radius: 15px;
    }
    .titu{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15%;
    
    }
    h1{
        font-family: roboto, sans-serif;
        text-shadow: 4px 4px 3px rgb(228, 225, 225);
    }
    
    .con{
        width: 80%;
        
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        border-radius: 15px ;
        background-color:  rgb(214, 243, 248) ;

        padding-top: 10%;
        padding-bottom: 5%;

    }
    .fila{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        padding-bottom: 10%;
        width: 80%;
        font-family: roboto, sans-serif;
    }
    .fila2{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        padding-bottom: 10%;
        width: 80%;
        font-family: roboto, sans-serif;
    }
    
    label{
        margin-right: 75%;
    }
    input{
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-radius: 15px;

    }

    .contra{
        margin-left: 10%;
    }
   
    .btn{
        width: 80%;
        padding-top: 5%;
    }
    button{
        width: 100%;
        padding-top: 4%;
        padding-bottom: 4%;
        border-radius: 10px;
        background-color: black;
        color: white;
        font-size: 20px
    };
    .ter{
        padding-top: 10%;
      
    }
   
    .dos{
        padding-top: 20%;
        font-family: roboto, sans-serif;

    }
    p{
        font-family: roboto, sans-serif;

    }
    a{
        color: blue;
        font-family: roboto, sans-serif;

    }

    .register{
        display: flex;
        padding-top: 15%;
    }

    .color{
        color: rgb(31, 144, 182);
        font-family: roboto, sans-serif;
    }
}
