<body>
<div class="container">
  <form action="" class="search">
    <div class="input">
      <input type="text" placeholder="Pon tu provincia" #provin>
      <button type="button" (click)="buscar(provin.value)"><img src="./../../../assets/Lupa2.jpg"></button>
      <input type="text" placeholder="Busca tu evento" #event>
      <button type="button" (click)="buscar2(event.value)"><img src="./../../../assets/Lupa2.jpg"></button>
    </div>
  </form>
</div>
<div *ngIf="home.length != 0; else lista">

 
  <div id="card">
      <ng-container *ngFor="let cardEvent of home">
          
        <app-card [event]="cardEvent"></app-card>
      </ng-container>

  </div>


</div>
<ng-template #lista>
  <h1>NO HAY EVENTOS</h1>
</ng-template>

</body>
