<body>
<div class="container">
  <form action="" class="search">
    <input type="text" placeholder="Explora eventos...." #event>
    <button type="button" (click)="buscar(event.value,0)"><img src="./../../../assets/Lupa2.jpg"></button>
  </form>
</div>
<div *ngIf="home.length != 0; else lista">

 
  <div id="card">
      <ng-container *ngFor="let cardEvent of home">
          
        <app-card [event]="cardEvent"></app-card>
      </ng-container>

  </div>


</div>
<ng-template #lista>
  <h1>NO HAY EVENTOS</h1>
</ng-template>

</body>
