*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
@media screen and (max-width: 450px){
div{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
input{
    width: 65%;
    border:none;
    border-radius: 15px;
    background-color: rgb(244, 241, 241);
    padding: 5px;
    padding-left: 3%;
    margin-left: 2%;
}
button{
    width: 10%;
    border:none;
    border-radius: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(214, 243, 248);
}
button:hover{
    color: white;
    background-color: black;
}
}