*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
@media screen and (max-width: 450px){
.container{
    width: 100%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search{
    width: 84%;
    background: rgb(244, 241, 241);
    display: flex;
    align-items: center;
    border-radius: 15px;
   
}
input{
    background: transparent;
    flex:1;
    border:none;
    outline: none;

}
button{
    height: 5%;
    width: 10%;
    border:none;
    cursor:pointer;
}
img{    
    width: 100%;
    border-radius: 50%;
}
.input{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
}