@media screen and (max-width: 475px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    form{
    
        height: 810px;
        width: 100%;
        font-family: sans-serif;

        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .contenedor{
    
        height: 700px;
        width: 100%;
        padding-top: 30px;
    
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        gap: 50px;
    
    }
    .logo{
    
        width: 34%;
        border-radius: 10px;
    }
    img{
         width: 100%;
         border-radius: 10px;
    }
    .titulo {
         
        width: 40vh;
        height: 80px;
        margin-top: 20px;
    
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    h1 {
    
        font-weight: bold;
        font-family: roboto, sans-serif;
        text-shadow: 4px 4px 3px rgb(228, 225, 225);
    
    }
    .formulario{
    
        height: 510px;
        width: 280px;
        border-radius: 25px;
        margin-top: 10px;
        background-color: rgb(214, 243, 248);
    
        display: flex;
        flex-direction: column;
       
    }
    input{
    
        width: 250px;
        height: 42px;
        padding-left: 7px;
        border-radius: 15px;
        margin-left: 15px;
        background-color: rgb(244, 241, 241);
    
    }
    label{
    
        height: 30px;
        width: 160px;
        margin-left: 25px;
        margin-top: 8px;
        font-size: 20px;
    
    }
    button{
    
        width: 250px;
        height: 45px;
        margin-left: 15px;
        margin-top: 30px;
        border-radius: 12px;
        font-size: 20px;
    
    }
    .invalid-feedback{

        font-size: 16px;
        margin-left: 40px;
    }
    
    }
