@media screen and (max-width: 475px){

    form{
    
        height: 840px;
        width: 100%;
        font-family: sans-serif;
       
    
    }
    .contenedor{
    
        height: 780px;
        width: 100%;
        padding-top: 30px;
    
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        gap: 30px;
    
    }
    .logo{
    
        width: 34%;
        border-radius: 10px;
    }
    img{
         width: 100%;
         border-radius: 10px;
    }
    .titulo {
         
        width: 40vh;
        height: 80px;
        margin-top: 20px;
    
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    h1 {
    
        font-family: sans-serif;
        font-weight: bold;
        text-shadow: 4px 4px 3px rgb(174, 172, 172);
    
    }
    .formulario{
    
        height: 460px;
        width: 280px;
        border-radius: 25px;
        padding-top: 5px;
        margin-top: 5px;
        background-color: rgb(214, 243, 248);
    
        display: flex;
        flex-direction: column;
       
    }
    input{
    
        width: 250px;
        height: 30px;
        border-radius: 15px;
        margin-left: 15px;
        background-color: rgb(244, 241, 241);
    
    }
    label{
    
        height: 20px;
        width: 160px;
        margin-left: 25px;
        margin-top: 5px;
        
    
    }
    button{
    
        width: 215px;
        margin-left: 11px;
        margin-top: 30px;
        border-radius: 10px;
        
    }
    
    }
