<app-header></app-header>
<body>
    <form action="">
        <input type="text" class="titlevent" placeholder="Elegir deporte">
        <input type="text" class="titlevent" placeholder="Nombre del evento">
        <div>
            <input type="date" class="timer" placeholder="Fecha">
            <input type="time" class="timer" placeholder="hora">
        </div>
        <input type="textarea" class="bigtext" placeholder="Descripción">
        <input type="text" class="bigtext" placeholder="Insertar foto">
        <button class="made">Crear Evento</button>
        <button >Cancelar</button>
    </form>
</body>
<app-nav-bar></app-nav-bar>