*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
@media screen and (max-width: 450px){
    body{
        margin-bottom: 10%;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 2%;
    }
    div{
        display: flex;
        justify-content: space-between;
    }
    .timer{
        text-align: center;
        color: gray;
        padding-right: 5%;
    }
    input{
        height: 2.4rem;
        border: none;
        margin: 10px;
        border-radius: 15px;
        background-color: rgb(244, 241, 241);
    }
    .titlevent{
        padding-left: 5%;
    }
    .bigtext{
        height: 6rem;
        text-align: center;
    }
    button{
        height: 2.4rem;
        border: none;
        margin: 5px;
        border-radius: 15px;
    }
    .made{
        background-color: black;
        color: white;
        font-weight: bold;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        margin-top: 8%;
    }
}