<body>
    <form action="">
        <input list="dataList" class="titlevent" placeholder="↓  Elige deporte"  >
        <datalist id="dataList" >
            <option *ngFor="let list of dataList" >{{list.deporte}}</option>
           
        </datalist>
        <input type="text" class="titlevent" placeholder="Nombre del evento" #primero>
        <div>
            <input type="date" class="timer" placeholder="Fecha"#segundo>
        </div>
        <input type="text" class="bigtext" placeholder="Descripción" #tercero>
        <input type="text" class="bigtext" placeholder="Insertar foto" #cuarto>
        <div class="buttons">
        <button class="made" (click)="callevento(null,null, primero.value, segundo.valueAsNumber, tercero.value, cuarto.value,null)">Crear Evento</button>
        <button routerLink="">Cancelar</button>
        </div>
    </form>
</body>

