<app-header></app-header>
<body>
    <form action="">
        <input list="sport" class="titlevent" placeholder="↓  Elige deporte">
        <datalist id="sport">
            <option value="Fútbol"></option>
            <option value="Baloncesto"></option>
            <option value="Running"></option>
            <option value="Ciclismo"></option>
            <option value="Natación"></option>
            <option value="Volley"></option>
            <option value="Patinaje"></option>
        </datalist>
        <input type="text" class="titlevent" placeholder="Nombre del evento">
        <div>
            <input type="date" class="timer" placeholder="Fecha">
            <input type="time" class="timer" placeholder="hora">
        </div>
        <input type="textarea" class="bigtext" placeholder="Descripción">
        <input type="text" class="bigtext" placeholder="Insertar foto">
        <button class="made">Crear Evento</button>
        <button >Cancelar</button>
    </form>
</body>
